@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  font-size: 18px;
}

ul {
  list-style: none;
  margin: 0 0 0 200px;;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 16px;
}

a {
  text-decoration: none;
  color: #F9FAF8;
}

h1, h2, h3 {
  margin: 16px 0;
}

h1 {
  font-size: 48px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  margin-top: 32px;
}

h3 {
  font-size: 24px;
}

img {
  width: 500px;
  height: auto;
}

button {
  background-color: #3882F6;
  color: #F9FAF8;
  border-radius: 10px;
  padding: 8px;
  width: 100px;
  border: none;
}

.navbar {
  padding: 0 64px;
}

.navbar, .title-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-section {
  background-color: #1F2937;
  color: #F9FAF8;
  padding: 1rem 13rem;
}

.title-section {
  padding: 32px 64px;
}

.title-content, .title-image {
  display: flex;
  justify-content: center;
}

.title-content {
  flex-direction: column;
  width: 500px;
}

.thumbnail-image {
  width: 125px;
  height: auto;
  border-radius: 15px;
  border: 3px solid #3882F6;
}

.image-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-card-row {
  display: flex;
  justify-content: space-around;
  margin: 32px;
}

.image-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 125px;
  align-items: center;
  margin: 0 32px;
  text-align: center;
}

.image-card p {
  font-size: 16px;
}